body{
  background-color: darkslategray;
  color: #ffffff;
  text-align: center;
}
input,label,select{
  font-size: 20px;
}
h2{
  text-decoration: underline;
}
Nav{
  display: flex;
  justify-content: space-around;
  background-color: black;
}
.nav-links{
    width: 50%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 18px;
}
#Login,#Register{
  width: 350px;
  border: 1px solid#d6d7da;
  padding: 0px 15px 15px 15px;
  border-radius: 5px;
  color: #333333;
  font-size: 14px;
  background:#ffffff ;
  margin-left:40%;
  align-content: center;
}
.errorMsg{
  color:#cc0000 ;
}
form input{
  padding: 5px;
  border: 1px solid#bdc7d8;
}
